<div class="inner">
<div class="yokonarabi">
    <div> <img src="./assets/img/box1.png"></div>
    <div> <img src="./assets/img/box2.png"></div>
    <div> <img src="./assets/img/box3.png"></div>
</div>
<div class="yokonarabi">
    <div> <img src="./assets/img/box4.png"></div>
    <div> <img src="./assets/img/box5.png"></div>
    <div> <img src="./assets/img/box6.png"></div>
</div>
<div class="yokonarabi">
    <div> <img src="./assets/img/box7.png"></div>
    <div> <img src="./assets/img/box8.png"></div>
    <div> <img src="./assets/img/box9.png"></div>
</div>
</div>